{%extends "base.html"%}
{% block content%}
<form method="POST">
  <div class="jumbotron">
    <h1> Sample Figure </h1>
    <h2> This picture shows model performance of  the Automatic Recruitment Assistant (ARA). After reading this picture, you will answer questions on it. </h2><br>
  </div>
    <head>
      <img src="../static/performance100.png" height="700">
        <p style="text-align:center;">{{ form11.submit11() }}</p>
    </head>
    <body>
      <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
    </body>

  </div>
</form>
{% endblock %}
